<article>
  <ul>
    {% if not profile %}
    <li>
      Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
    </li>
    {% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% include 'posts/includes/image.html'%}
  <p>{{ post.text|linebreaksbr|truncatewords:50 }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
  <br>
  {% if post.group and not group %}  
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group.title }}</a>
  {% endif %}
</article>